.about{
    display: flex;
    height: 100vh;
    overflow-x: hidden;
    align-items: center;
}

.about-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: relative;
}

.about-text{
    width: 50%;
}

.text-photo{
    margin-right: 37.25%;
}

.about-location , .about-call{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.loc-text , .call-text{
    color: #ff4a4a;
    font-size: 18px;
    font-weight: 800;
}

.single-about-card{
    width: 12%;
}

.about-cards{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.about-card-img{
    width: 100%;
    height: 70px;
    padding: 5px;
    border: 2px solid #e7c500;
    border-radius: 10px;
}

.about-card-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
}

.about-card-text span{
    color: rgb(98, 98, 98);
    font-size: 12px;
    font-weight: 600;
}

.about-img{
    display: flex;
    justify-content: center;
    height: 80%;
    width: 50%;
}

.about-img img{
    height: 100%;
    width: 70%;
    border-radius: 40px;
    -webkit-box-shadow: 10px 10px 30px -9px rgba(112,112,112,1);
    -moz-box-shadow: 10px 10px 30px -9px rgba(112,112,112,1);
    box-shadow: 10px 10px 30px -9px rgba(112,112,112,1);
}
