@font-face {
    font-family: "shabnam";
    src: url("../fonts/Shabnam-FD.woff2") format("woff2");
}

*{
    box-sizing: border-box;
    font-family: "shabnam",sans-serif;
}

.links{
    text-decoration: none;
}

body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.main-container{
    width: 85%;
}


@media screen and (max-width: 1000px) {
    .main-container{
        width: 100%;
    }
}